/* BoyVideo.css */
.Animation {
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .video {
    width: 100%;
    height: auto;
    max-width: 100%;
  }
  
  .nextButton {
    margin-bottom: 300px;
    padding: 10px 20px;
    font-size: 20px;
    background-color: #834a10;
    color: rgba(236, 197, 23, 255);
    border: none;
    cursor: pointer;
    font-family: 'Bauhaus 93', cursive;
    font-weight: 400;
    font-style: normal;
    border-radius: 28px;
  }
  
  .nextButton:hover {
    background-color: #53250b;
  }
  