.chooselevelBoy {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    height: 100vh;
    text-align: center;
    color: #fff;
    position: relative; 
    overflow: hidden; 
  }
  
  .girl-image {
    position: absolute;
    bottom: 50px; 
    right: 50px; 
    max-width: 30%; 
    height: auto;
  }
  
  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px; 
  }
  
  .buttonWithLock {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .lockImages1, .lockImage2, .lockImage3 {
    margin-left: 35px;
    width: 50px;
    height: auto;
  }
  
  .beginButton, .interButton, .advanButton {
    margin: 5px;
    cursor: pointer;
    width: 300px;
    background-color: transparent; 
    border: none; 
  }
  
  .beginButton img, .interButton img, .advanButton img, .clickNext img {
    width: 100%; 
    height: auto;
  }
  
  .beginButton:hover, .interButton:hover, .advanButton:hover, .clickNext:hover {
    transform: scale(1.1);
  }
  
  .selected {
    /* border: 2px solid #655c25;  */
    border-radius: 10px; 
  }
  
  .clickNext {
    background-color: transparent;
    border: none;
    padding-right: 70px;
  }
  .access-code-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .access-code-image {
    width: 60%; /* Adjust width as necessary */
    height: auto; 
    position: relative;
  }
  
  .access-code-input {
    width: 40%; 
    padding: 10px;
    margin-top: 12px; /* Adjust this value to position correctly */
    font-size: 16px;
    border-radius: 5px;
    border:  #ccc;
    position: absolute;
    top: 55%; /* Adjust to center the input within the image */
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent; 
  }
  
  .access-code-input2 {
    width: 100%; 
    padding: 10px;
     /* margin-top: 12px;  */
    font-size: 16px;
    border-radius: 5px;
    border:  #ccc;
    /* position: absolute;
    top: 55%; 
    left: 50%; */
    transform: translate(-50%, -50%);
    background-color: transparent; 
  }
  
  .done-button-overlay {
    margin-top: 40px; /* Adjust this value to position correctly */
    background-color: transparent; 
    border: none; 
    position: absolute;
    top: 62%; /* Adjust this value to position the Done button correctly */
    right: 41%;
    transform: translate(-50%, 0);
    cursor: pointer;
    width: 10%; /* Adjust to fit the size within the image */
    height: auto;
  }
  
  .done-button-overlay img {
    width: 100px; /* Adjust the size of the "Done" button */
    height: auto;
  }
  .done-button-overlay:hover img {
    transform: scale(1.1); /* Scale the image on hover */
  }
  
  .close-button {
    position: absolute;
    top: 20px; /* Position close button to the top right corner */
    right: 180px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .close-button img {
    width: 30px; /* Adjust size as needed */
    height: auto;
  }
  .close-button:hover img {
    transform: scale(1.1); /* Scale the image on hover */
  }
  
  .clickNext img {
    width: 150px; /* Adjust this value to make the "Next" button smaller */
    height: auto;
  }
  




  .nav-buttons {
    position: absolute;
    top: 20px;
    left: 40px;
    display: flex;
    gap: 10px; /* Space between the buttons */
    z-index: 1000; /* Ensure they appear on top */
  }
  
  .nav-button {
    background-color: transparent; /* Make the button background transparent */
    border: none; /* Remove border */
    padding: 0; /* Remove any padding */
  }
  
  .nav-button img {
    width: 80px; /* Adjust the size of the buttons */
    height: auto;
    cursor: pointer;
  }
  
  .nav-button:hover img {
    transform: scale(1.1); /* Slight scale effect on hover */
  }
  